doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        title Монтаж
        meta(name='viewport' content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
        link(rel='preconnect' href='https://fonts.googleapis.com')
        link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
        link(href='https://fonts.googleapis.com/css2?family=Sofia+Sans:wght@400;700&display=swap' rel='stylesheet')
        link(rel='stylesheet' href='css/building.css')
    body
    include header
    .connect
        .container
            .connect-inner
                .connect-left
                    .connect-inf
                        .connect-text
                            | Монтаж лифтового
                            | оборудования
                        .connect-btn
                            a(href='home#request') Связаться с нами
                .connect-right
                    .connect-img
                        img(src='images/building/montage.png' alt='repair')
    .service
            .container
                .service-inner
                    .service-title
                        img(src='images/delivery/service-vector.png' alt='')
                        .service-subtitle Об услуге
                    .service-text
                        | Монтаж лифтов – это трудоемкий процесс, состоящий из нескольких этапов. Ответственные задачи, связ -
                        | анные с подготовительными, монтажными работами и последующим обслуживанием, следует доверять про -
                        | веренным подрядчикам. Специалисты компании Лифтком готовы выполнить монтаж лифта любой сложности,
                        | учитывая тип оборудования, пожелания заказчика, рекомендации производителя, условия эксплуатации,
                        | требования ГОСТ стандартов.
    .set
        .container
            .set-inner
                .set-title
                    img(src='images/building/set-proc.png' alt='')
                    .set-subtitle Установочный процесс
                .set-text
                    | Поэтапный монтаж лифтов может отличаться, учитывая разновидность подъемного оборудования, тип
                    | здания и прочие факторы. Монтажные работы осуществляются в соответствии с правилами, регламентиру -
                    | емыми стандартом ГОСТ 22845-85. Предварительно специалисты организации Лифтком разрабатывают чер -
                    | тежи и строительную документацию. Над проектами работают мастера высокой квалификации, которые,
                    | помимо монтажа лифтов и пусконаладочных работ, готовы осуществлять плановый контроль состояния
                    | лифтового оборудования.
    include footer
