footer.footer
    .container
        .footer-inner
            .footer-item
                .footer-logo
                    img(src='images/main/%D0%9E%D0%9E%D0%9E%20%E2%80%9C%D0%9B%D0%B8%D1%84%D1%82%D0%BA%D0%BE%D0%BC%E2%80%9D.svg' alt='')
            .footer-item
                .footer-phone
                    .phone-icon
                        img(src='images/main/phone%20icon.png' alt='')
                    .contact-phone
                        a.phone-accounting(href='tel:8-914-538-77-77') 8-914-556-36-76
            .footer-item
                .geoposition
                    .geoposition-inner
                        .geo-icon
                            img(src='images/main/geopoint-icon.png' alt='')
                        .geoposition-address г. Благовещенск, ул. Чайковского 209
            .footer-item
                .email
                    .email-inner
                        .email-icon
                            img(src='images/main/letter%20icon.png' alt='')
                        .contact-email
                            a(href='mailto:LIFTMONTAZH@gmail.com') LIFTMONTAZH@gmail.com
                            a(href='mailto:LIFTMONTAZH@bk.ru') LIFTMONTAZH@bk.ru