doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
        meta(http-equiv='X-UA-Compatible' content='ie=edge')
        title Ремонт
        link(rel='stylesheet' href='css/repair.css')
    body
        include header
        .connect
            .container
                .connect-inner
                    .connect-left
                        .connect-inf
                            .connect-text
                                | Ремонт лифтового
                                | оборудования
                            .connect-btn
                                a(href='home#request') Связаться с нами
                    .connect-right
                        .connect-img
                            img(src='images/repair/repair.png' alt='repair')
        .service
                .container
                    .service-inner
                        .service-title
                            img(src='images/delivery/service-vector.png' alt='')
                            .service-subtitle Об услуге
                        .service-text
                            | Ремонт лифтов в Благовещенске – одно из основных направлений работы нашей компании.
                            | Ремонтные рабо -
                            | ты проводятся нашими квалифицированными специалистами с богатым опытом работы в этой сфере.
                            | Мы располагаем мощной материально-технической базой, поэтому можем
                            | справиться с заказом любой сложности.
        .work
                .container
                    .work-inner
                        .work-title
                            img(src='images/delivery/work-vector.png' alt='')
                            .work-subtitle Как мы работаем
                        .work-way
                            img.work-img(src='images/repair/work.png' alt='')
        include footer
