<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Обслуживание</title>
    <link rel="stylesheet" href="css/serving.css">
  </head>
  <body>
    <header class="header">
      <div class="container">
        <div class="header-inner">
          <div class="logo"><a href="home"><img src="images/main/logo.svg" alt=""></a></div>
          <nav class="nav-inner">
            <!--a.nav-item(href='catalog') Каталог-->
            <!--a.nav-item(href='about_us') О нас-->
            <div class="dropdown">
              <button class="nav-dropitem dropbtn">Услуги</button>
              <div class="dropdown-content"><a class="nav-dropitem" href="delivery">Поставка</a><a class="nav-dropitem" href="repair">Ремонт</a><a class="nav-dropitem" href="serving">Обслуживание</a><a class="nav-dropitem" href="building">Монтаж</a></div>
            </div>
          </nav>
        </div>
      </div>
    </header>
    <div class="connect">
      <div class="container">
        <div class="connect-inner">
          <div class="connect-left">
            <div class="connect-inf">
              <div class="connect-text">Обслуживание лифтового оборудования</div>
              <div class="connect-btn"><a href="home#request">Связаться с нами</a></div>
            </div>
          </div>
          <div class="connect-right">
            <div class="connect-img"><img src="images/serving/connect.png" alt="lift"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="service">
      <div class="container">
        <div class="service-inner">
          <div class="service-title"><img src="images/delivery/service-vector.png" alt="">
            <div class="service-subtitle">Об услуге</div>
          </div>
          <div class="service-text">
            Компания «Лифтком» обслуживает лифтовое и подъемное оборудование в Благовещенске. Качественное тех -
            ническое обслуживание лифтового оборудования — это залог его бесперебойной работы каждый день. Внима -
            тельное отношение к технике специалистов компании продлевает срок службы лифтов.  Благодаря професси -
            онализму наших сотрудников, мы помогаем вовремя заказывать детали для проведения ремонтных работ на
            лифтах наших клиентов. Наша компания работает с разными марками лифтового оборудования российского и
            зарубежного производства
          </div>
        </div>
      </div>
    </div>
    <div class="danger-serving">
      <div class="container">
        <div class="danger-inner">
          <div class="danger-title"><img src="images/serving/danger-serving.png" alt="">
            <div class="danger-subtitle">Аварийно - техническое <br> обслуживание включает</div>
          </div>
          <div class="serving-list">
            <ul class="list">
              <li>Проверка и регулировка точности остановок по этажам.</li>
              <li>Контроль (и поддержание в рабочих пределах) уровня масла в редукторе главного привода или гидроагрега - та.</li>
              <li>Регулировка автоматических и неавтоматических замков и контактов дверей шахты и кабины.</li>
              <li>Проверка освещения шахты</li>
              <li>Исследование и регулировка механизма дверей шахты</li>
              <li>Осмотр купе кабины</li>
              <li>Техосмотр состояния балансирной подвески кабины</li>
              <li>Исследование работоспособности вызывных аппаратов по этажам и приказного аппарата в кабине.</li>
              <li>Исследование оборудования, установленного на верхней балке кабины внутри шахты.</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <footer class="footer">
      <div class="container">
        <div class="footer-inner">
          <div class="footer-item">
            <div class="footer-logo"><img src="images/main/%D0%9E%D0%9E%D0%9E%20%E2%80%9C%D0%9B%D0%B8%D1%84%D1%82%D0%BA%D0%BE%D0%BC%E2%80%9D.svg" alt=""></div>
          </div>
          <div class="footer-item">
            <div class="footer-phone">
              <div class="phone-icon"><img src="images/main/phone%20icon.png" alt=""></div>
              <div class="contact-phone"><a class="phone-accounting" href="tel:8-914-538-77-77">8-914-556-36-76</a></div>
            </div>
          </div>
          <div class="footer-item">
            <div class="geoposition">
              <div class="geoposition-inner">
                <div class="geo-icon"><img src="images/main/geopoint-icon.png" alt=""></div>
                <div class="geoposition-address">г. Благовещенск, ул. Чайковского 209</div>
              </div>
            </div>
          </div>
          <div class="footer-item">
            <div class="email">
              <div class="email-inner">
                <div class="email-icon"><img src="images/main/letter%20icon.png" alt=""></div>
                <div class="contact-email"><a href="mailto:LIFTMONTAZH@gmail.com">LIFTMONTAZH@gmail.com</a><a href="mailto:LIFTMONTAZH@bk.ru">LIFTMONTAZH@bk.ru</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>